@import "tailwindcss";

:root {
  --background: #fffbed;
  --foreground: #171717;
  --navbarbackground:#cf3207;
  --maincontainerwidth:70%

}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  height: 100vh;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffbed;
    /* --background: #fffbed; */
    --foreground: #101010;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}


@font-face {
  font-family: 'Alatsi';
  src: url('/fonts/Alatsi-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Italianno';
  src: url('/fonts/Italianno.ttf');
  font-weight: normal;
  font-style:normal;
}
@font-face {
  font-family: 'Ancient Medium';
  src: url('/fonts/AncientMedium.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}